if restaurant.cuisine
    p.restaurant-cuisine= restaurant.cuisine
h3.restaurant-name.text-red= restaurant.name
if restaurant.description
    p.restaurant-description= restaurant.description

.my-1 &nbsp;

if restaurant.cuisine
    div
        img(src="/static/img/giphy.png", width="120")
        br
        img(src=giphyUrl).giphy.mb-3
    