doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        block head_meta

        title What's for Lunch

        link(href="/static/css/base.css" rel="stylesheet")
        link(href="/static/vendor/css/materialize.min.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        block head_link
        
        block head_script

    body
        .navbar-fixed
            nav.red
                .nav-wrapper
                    a(href="/").brand-logo
                        h1.hide What's for Lunch
                        h5.brand-text &nbsp;What's for Lunch&nbsp
                            br
                            span.slogan.hide-on-small-only Make up your mind
                    ul#nav.mobile.right.hide-on-med-and-down
                        li
                            a(href="/") Home

                        li
                            a(href="/restaurant/list") Restaurants

                        if currentUser
                            li
                                a(href="/user/profile") Profile
                            li
                                a(href="/user/logout") Logout
                        else
                            li
                                a(href="/user/login") Login
                            li
                                a(href="/user/signup") Signup

        .container
            .col.s12
                block content

    footer
        .container.center-align= `© 2018 What's for lunch`
            br
            span
                | Made in Node.js with love by 
                a(href="https://github.com/iErika", target="_blank").text-muted Erika Suzuki
            br
            span.text-muted.disclaimer.
                Disclaimer: This is just a toy application for learning purposes.
                    
    script(src="/static/vendor/js/jquery-3.3.1.min.js")
    script(src="/static/vendor/js/materialize.min.js")
    script(src="/static/js/app.js")
    block inline_script
