extends base

block content
    .text-center
        h1.text-red
            i(style="font-size: 1em;").valign-middle.material-icons.left error
            | #{err.message}
        if err.status
            h3 Status #{err.status}
        if DEBUG
            .text-left.my-5
                pre= err.stack
        if err.goBackUrl
            .row
                .col.s12.center-align
                    a(onclick="history.back()").btn.red Go back
                        i.material-icons.left chevron_left