extends base

block content
    .center-align
        
        p.mb-0.mt-2
            i(style="font-size: 5em;").valign-middle.material-icons.text-red error
        h3.my-0.text-red= err.message
        if err.status
            h5 Status #{err.status}

    if config.DEBUG
        .code-block.left-align.my-5(style="overflow-x: scroll")
            pre= err.stack

    .center-align.mb-5.mt-2
        a(href=referer).btn.red Go back
            i.material-icons.left chevron_left