extends base

block content
    form(action="", method="POST")#registerForm.mt-2
        .row
            .col.m8.offset-m2
                h3.center-align.mb-1 Sign up form
                .row
                    .input-field.col.m6.s12
                        input(type="text", name="firstName")
                        label(for="firstName") First name

                    .input-field.col.m6.s12
                        input(type="text", name="lastName")
                        label(for="lastName") Last name

                    .input-field.col.s12
                        input(type="email", name="email")
                        label(for="email") Email address

                    .input-field.col.m6.s12
                        input(type="password", name="password")
                        label(for="password") Password

                    .input-field.col.m6.s12
                        input(type="password", name="verifyPassword")
                        label(for="verifyPassword") Verify password

                .row.center-align.my-3
                    button(type="submit").btn.blue Submit
                        i.material-icons.right send