extends ../base

block content
    .row
        .col.s12.m8.offset-m2
            h3.center-align.my-1 Change password
            form(action="/user/change-password", method="POST").mt-3
                .input-field.col.s12
                    input(type="password", name="password")
                    label(for="password") Password
                .input-field.col.s12
                    input(type="password", name="verifyPassword")
                    label(for="verifyPassword") Verify password
                .center-align
                    button(type="submit").btn.blue.my-3 Save new password
                        i.material-icons.right send