.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.mx-0 {
  margin-left: 0;
  margin-right: 0; }

.mx-1 {
  margin-left: 1em;
  margin-right: 1em; }

.mx-2 {
  margin-left: 2em;
  margin-right: 2em; }

.mx-3 {
  margin-left: 3em;
  margin-right: 3em; }

.mx-4 {
  margin-left: 4em;
  margin-right: 4em; }

.mx-5 {
  margin-left: 5em;
  margin-right: 5em; }

.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em; }

.my-2 {
  margin-top: 2em;
  margin-bottom: 2em; }

.my-3 {
  margin-top: 3em;
  margin-bottom: 3em; }

.my-4 {
  margin-top: 4em;
  margin-bottom: 4em; }

.my-5 {
  margin-top: 5em;
  margin-bottom: 5em; }

.mt-0 {
  margin-top: 0; }

.mt-1 {
  margin-top: 1em; }

.mt-2 {
  margin-top: 2em; }

.mt-3 {
  margin-top: 3em; }

.mt-4 {
  margin-top: 4em; }

.mt-5 {
  margin-top: 5em; }

.mb-0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: 1em; }

.mb-2 {
  margin-bottom: 2em; }

.mb-3 {
  margin-bottom: 3em; }

.mb-4 {
  margin-bottom: 4em; }

.mb-5 {
  margin-bottom: 5em; }

.px-0 {
  padding-left: 0;
  padding-right: 0; }

.px-1 {
  padding-left: 1em;
  padding-right: 1em; }

.px-2 {
  padding-left: 2em;
  padding-right: 2em; }

.px-3 {
  padding-left: 3em;
  padding-right: 3em; }

.px-4 {
  padding-left: 4em;
  padding-right: 4em; }

.px-5 {
  padding-left: 5em;
  padding-right: 5em; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.py-1 {
  padding-top: 1em;
  padding-bottom: 1em; }

.py-2 {
  padding-top: 2em;
  padding-bottom: 2em; }

.py-3 {
  padding-top: 3em;
  padding-bottom: 3em; }

.py-4 {
  padding-top: 4em;
  padding-bottom: 4em; }

.py-5 {
  padding-top: 5em;
  padding-bottom: 5em; }

.pt-0 {
  padding-top: 0; }

.pt-1 {
  padding-top: 1em; }

.pt-2 {
  padding-top: 2em; }

.pt-3 {
  padding-top: 3em; }

.pt-4 {
  padding-top: 4em; }

.pt-5 {
  padding-top: 5em; }

.pb-0 {
  padding-bottom: 0; }

.pb-1 {
  padding-bottom: 1em; }

.pb-2 {
  padding-bottom: 2em; }

.pb-3 {
  padding-bottom: 3em; }

.pb-4 {
  padding-bottom: 4em; }

.pb-5 {
  padding-bottom: 5em; }

.floater-right-bottom {
  position: fixed;
  right: 2em;
  bottom: 6em;
  z-index: 200; }

.modal {
  outline: none; }

nav a:link, nav a:active, nav a:visited, nav a:hover {
  color: inherit;
  text-decoration: none; }

body {
  color: #444444;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

a:link, a:active, a:visited {
  color: #00b8d4; }
a:hover {
  color: #ec407a; }
a.btn-large, a.btn, a.btn-flat {
  color: #fafafa; }
  a.btn-large:hover, a.btn:hover, a.btn-flat:hover {
    color: #fafafa;
    text-decoration: none; }

.text-white {
  color: #fafafa; }

.text-muted {
  color: #777777; }

.text-black {
  color: #444444; }

.text-red {
  color: #f44336; }

.small {
  font-size: 0.8em; }

.brand-logo {
  display: block;
  margin: 0 0.3em; }

.brand-text {
  color: #fafafa;
  text-align: center;
  display: inline-block;
  line-height: 0.8em; }

.slogan {
  margin: 0;
  display: inline-block;
  font-style: italic;
  font-size: 0.6em;
  color: #fafafa; }

footer {
  margin: 1em auto;
  width: 100%;
  color: #777777; }

.search-wrapper {
  margin: 2em auto; }

.restaurant-cuisine {
  color: #777777;
  font-size: 1.4em;
  margin: 0; }

.restaurant-name {
  color: #2196f3;
  font-weight: bold;
  font-size: 3em;
  margin: 0 0 0.2em; }

.restaurant-description {
  color: #444444;
  font-size: 1.4em;
  margin: 0; }

.giphy {
  max-width: 500px;
  width: 100%;
  border: 1px solid #cccccc; }

.disclaimer {
  font-size: 0.8em;
  text-align: center;
  line-height: 0.2em;
  color: #cccccc; }

.gravatar {
  border-radius: 100%;
  max-width: 200px;
  min-width: 200px;
  border: 2px solid #cccccc; }

.code-block {
  background: #efefef;
  padding: 1.2em; }

/*# sourceMappingURL=base.css.map */
