extends ../base

block content
    h3 Restaurant list

    table.responsive-table.highlight.striped.my-2
        thead
            th Name
            th Cuisine
            th Description
            th Action

        tbody
            each restaurant in restaurant_list
                tr
                    td(width="20%")= restaurant.name
                    td(width="20%")= restaurant.cuisine
                    td= restaurant.description
                    td(width="10%")
                        a(href="#") Edit